.hero {
    height: 12rem;
    width: 100%;
    position: relative;
    display: flex;
    padding: 20px;
    gap: 400px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-100);
}
.hero__image {
    position: absolute;
    top: -90px;
    left: 7%;
    width: 33%;
    z-index: 3;
}
.hero__content {
    flex-grow: 1;
}
.hero__content :where(h1, h2) {
    line-height: 24px;
}
.hero__title {
    font-family: "Archivo Black";
    font-size: 4.37rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--gray-700);
}
.hero__subtitle {
    font-family: "Archivo Black";
    font-size: 64px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--gray-700);
}
.hero__social {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 860px) {
    .hero {
        background-color: var(--gray);
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 50px 0 0 0;
        gap: 0;
    }
    .hero__social {
        display: none;
    }
    .hero__image {
        position: static;
        top: 0;
        order: 2;
        width: 100%;
        margin-top: 30px;
    }
    .hero__content {
        order: 1;
    }
    .hero__title {
        margin: 0;
        font-size: 2rem;
        line-height: normal;
    }
    .hero__subtitle {
        margin: 0;
        line-height: normal;
        font-size: 4.37rem;
    }
}