.header {
    position: sticky;
    top: 0;
    background-color: var(--gray);
    z-index: 2;
}
.header__nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}
.header__menu__item a {
    font-family: "Archivo";
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--gray-700);
    font-weight: 600;
    text-decoration: none;
}
.mobile-menu {
    display: none;
}

@media screen and (max-width: 860px) {
    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 5;
        align-items: center;
        padding: 20px 0;
        justify-content: space-between;
    }
    .header__menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        gap: 15px;
    }
}