body {
    background-color: var(--gray);
    color: var(--gray-700);
}

.container {
    max-width: 1060px;
    margin: auto;
}

.wrapper {
    padding-top: 140px;
}

.spacer-250 {
    margin: 250px 0;
}

.spacer-120 {
    margin: 120px 0;
}

.spacer-60 {
    margin: 60px 0;
}

.skills-section {
    background-color: var(--gray-700);
}

svg.svgColor {
    color: var(--gray-700);
}

@media screen and (max-width: 860px) {
    .wrapper {
        padding-top: 30px;
    }
}