:root {
    --gray: #FAFAFF;
    --gray-100: #EEF0F2;
    --gray-200: #ECEBE4;
    --gray-300: #DADDD8;
    --gray-400: #BBBBBB;
    --gray-500: #484848;
    --gray-600: #232323;
    --gray-700: #1C1C1C;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray-700: #FAFAFF;
        --gray-600: #EEF0F2;
        --gray-500: #ECEBE4;
        --gray-400: #DADDD8;
        --gray-300: #BBBBBB;
        --gray-200: #484848;
        --gray-100: #232323;
        --gray: #1C1C1C;
    }
    .skills-section {
        background-color: var(--gray-100);
    }
    .skills {
        color: var(--gray-700);
    }
    .title--light :is(h2, span) {
        color: var(--gray-700);
    }
}

body[data-theme="light"] {
    --gray: #FAFAFF;
    --gray-100: #EEF0F2;
    --gray-200: #ECEBE4;
    --gray-300: #DADDD8;
    --gray-400: #BBBBBB;
    --gray-500: #484848;
    --gray-600: #232323;
    --gray-700: #1C1C1C;
}

body[data-theme="dark"] {
    --gray-700: #FAFAFF;
    --gray-600: #EEF0F2;
    --gray-500: #ECEBE4;
    --gray-400: #DADDD8;
    --gray-300: #BBBBBB;
    --gray-200: #484848;
    --gray-100: #232323;
    --gray: #1C1C1C;
}

body[data-theme="dark"] .skills-section {
    background-color: var(--gray-100);
}

body[data-theme="dark"] .skills {
    color: var(--gray-700);
}

body[data-theme="dark"] .title--light :is(h2, span) {
    color: var(--gray-700);
}

body[data-theme="dark"] :is(.contact__number, .contact__email):hover {
    color: var(--gray-300);
}