---
import BaseLayout from '../layout/BaseLayout.astro'
//@ts-ignore
import BehanceIcon from '../icons/Behance.astro'
//@ts-ignore
import GithubIcon from '../icons/Github.astro'
//@ts-ignore
import LinkedinIcon from '../icons/Linkedin.astro'
import HeaderNavigation from '../layout/HeaderNavigation.astro';
//@ts-ignore
import ProjectsTabs from '../components/tabs/ProjectsTabs.vue';
//@ts-ignore
import DesignProjects from '../components/DesignProjects.astro'
//@ts-ignore
import Skills from '../components/Skills.astro'
---

<BaseLayout title="Yan Mendes bla bla bla" keywords="Alguma keyword">
	<main class="wrapper">
		<section class="container hero">
			<div class="hero__social">
				<button class="social-button">
					<LinkedinIcon />
				</button>
				<button class="social-button">
					<GithubIcon />
				</button>
				<button class="social-button">
					<BehanceIcon />
				</button>
			</div>
			<figure class="hero__image">
				<img src="../src/assets/hero-img.png" alt="Foto Yan Mendes">
			</figure>
			<div class="hero__content">
				<h2 class="hero__subtitle">Olá, eu sou</h2>
				<h1 class="hero__title">Yan mendes</h1>
			</div>
		</section>

		<HeaderNavigation />

		<div class="spacer-250" />
		
		<section class="programming-section">
			<div class="title">
				<span>Programação</span>
				<h2>Programação</h2>
			</div>
			
			<ProjectsTabs client:idle />
		</section>

		<div class="spacer-120" />
		
		<section class="design-section">
			<div class="title">
				<span>Design</span>
				<h2>Design</h2>
			</div>

			<div class="spacer-60" />
			
			<DesignProjects />
		</section>

		<div class="spacer-120" />
		
		<section class="skills-section">
			<div class="title title--light title--spaced">
				<span>Skills</span>
				<h2>Skills</h2>
			</div>
						
			<div class="spacer-60" />

			<Skills />
		</section>
	</main>
</BaseLayout>
