---
import BaseLayout from '../layout/BaseLayout.astro'
//@ts-ignore
import yanMendes from `../assets/hero-img.webp`
//@ts-ignore
import BehanceIcon from '../icons/Behance.astro'
//@ts-ignore
import GithubIcon from '../icons/Github.astro'
//@ts-ignore
import LinkedinIcon from '../icons/Linkedin.astro'
import HeaderNavigation from '../layout/HeaderNavigation.astro';
//@ts-ignore
import ProjectsTabs from '../components/tabs/ProjectsTabs.vue';
//@ts-ignore
import DesignProjects from '../components/DesignProjects.astro'
//@ts-ignore
import Skills from '../components/Skills.astro'
//@ts-ignore
import Experiences from '../components/Experiences.astro'
//@ts-ignore
import ContactCard from '../components/ContactCard.astro'
---

<BaseLayout>
	<main class="wrapper">
		<section class="container hero">
			<div class="hero__social">
				<a href="https://www.linkedin.com/in/yan-mendes-47903619b/" target="_blank" class="social-button">
					<LinkedinIcon />
				</a>
				<a href="https://github.com/xnayan00" target="_blank" class="social-button">
					<GithubIcon />
				</a>
				<a href="https://www.behance.net/yan_mendes" target="_blank" class="social-button">
					<BehanceIcon />
				</a>
			</div>
			<figure class="hero__image">
				<img src={yanMendes.src} width="100%" height="100%" alt="Foto Yan Mendes">
			</figure>
			<div class="hero__content">
				<h2 class="hero__subtitle">Olá, eu sou</h2>
				<h1 class="hero__title">Yan mendes</h1>
			</div>
		</section>

		<HeaderNavigation />

		<div class="spacer-250" />
		
		<section class="programming-section">
			<div id="programacao" class="title">
				<span>Programação</span>
				<h2>Programação</h2>
			</div>
			
			<ProjectsTabs client:load />
		</section>

		<div class="spacer-120" />
		
		<section class="design-section">
			<div id="design" class="title">
				<span>Design</span>
				<h2>Design</h2>
			</div>

			<div class="spacer-60" />
			
			<DesignProjects />
		</section>

		<div class="spacer-120" />
		
		<section class="skills-section">
			<div id="skills" class="title title--light title--spaced">
				<span>Skills</span>
				<h2>Skills</h2>
			</div>
			
			<div class="spacer-60" />
			
			<Skills />
		</section>
		
		<div class="spacer-120" />
		
		<section class="experiences-section">
			<div id="experiencias" class="title">
				<span>Experiências</span>
				<h2>Experiências</h2>
			</div>
			
			<div class="spacer-60" />
			
			<Experiences />
		</section>
		
		<div class="spacer-120" />
		
		<section class="contact-section">
			<div id="contato" class="title">
				<span>Contato</span>
				<h2>Contato</h2>
			</div>
			
			<div class="spacer-60" />
			
			<ContactCard />
		</section>

		<div class="spacer-120" />

		<footer class="container footer">
			<span class="footer__name">Yan Mendes 2023</span>
			<span class="footer__caption">"Weniger, aber besser" - Dieter Rams</span>
		</footer>
	</main>
</BaseLayout>
