---
//@ts-ignore
import BehanceIcon from '../icons/Behance.astro'
//@ts-ignore
import GithubIcon from '../icons/Github.astro'
//@ts-ignore
import LinkedinIcon from '../icons/Linkedin.astro'
---

<article class="container contact">
    <div class="contact-card">
        <div class="contact__image" />

        <div class="contact__info">
            <div class="info__text">
                <h5 class="contact__title">Yan Mendes</h5>
                <span class="contact__subtitle">Programador Frontend & Designer</span>
            </div>
            <div class="info__contact">
                <a href="https://wa.me/+5541991379276?text=Oi%20Yan,%20tudo%20bem?" target="_blank" class="contact__number">(41) 99137-9276</a>
                <a href="mailto:mendesyan03@gmail.com" target="_blank" class="contact__email">mendesyan03@gmail.com</a>
            </div>
        </div>
        <div class="contect__socials">
            <a href="https://www.linkedin.com/in/yan-mendes-47903619b/" target="_blank" class="social-button">
                <LinkedinIcon />
            </a>
            <a href="https://github.com/xnayan00" target="_blank" class="social-button">
                <GithubIcon />
            </a>
            <a href="https://www.behance.net/yan_mendes" target="_blank" class="social-button">
                <BehanceIcon />
            </a>
        </div>
    </div>
</article>