---
import './src/styles/main.css';
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Desenvolvedor Front-end especializado em JavaScript, TypeScript e Vue. Apaixonado por criar experiências interativas e responsivas que elevam o design e a usabilidade. Descubra como posso impulsionar seu projeto com soluções de ponta.">
    <meta name="keywords" content="Desenvolvedor Front-end, JavaScript, TypeScript, Vue, Desenvolvimento Web, UI/UX, Experiência do Usuário">
    <meta name="author" content="Seu Nome">
    <link rel="stylesheet" href="/src/styles/main.css">
    <title>Yan Mendes - Programador & Designer</title>
</head>
<body data-theme="default">
    <slot />
</body>

<script>
        const body = document.body
        const drawer = document.getElementById('mobile-nav')
        const mobileMenuItems = document.getElementsByClassName('drawer__menu__item')
        var isOpened = false
        
        function prefersMatch(){
            if(window.matchMedia("(prefers-color-scheme: dark)").matches){
                body.setAttribute('data-theme', 'light')
            }else if(window.matchMedia("(prefers-color-scheme: light)").matches){
                body.setAttribute('data-theme', 'dark')
            }
        }

        function toggleTheme(){            
            if(body.getAttribute('data-theme') === 'light'){
                body.setAttribute('data-theme', 'dark')
            }else if(body.getAttribute('data-theme') === 'dark'){
                body.setAttribute('data-theme', 'light')
            }else{
                prefersMatch()
            }
        }

        function toggleDrawer(){
            if(isOpened === false){
                drawer.style.width = '80%'
            } else {
                drawer.style.width = '0'
            }

            isOpened = !isOpened
        }

        function closeDrawer(){
            isOpened = false
            drawer.style.width = '0'
        }

        for (const item of mobileMenuItems) {
            item.addEventListener('click', closeDrawer)
        }

		document.getElementById("themeButton").addEventListener('click', toggleTheme)
		document.getElementById("mobile-themeButton").addEventListener('click', toggleTheme)
		document.getElementById("menu-drawer-button").addEventListener('click', toggleDrawer)
</script>

</html>